@model FourLeafCloverShoe.Share.Models.Post

@{
    ViewData["Title"] = "show";
}
<section class="category-layout">
    <div class="container">
        <div class="row wrapper-row pd-page">

            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="content-page">
                    <div class="article-content">
                        <div class="box-article-heading clearfix">
                            <h1 class="sb-title-article">@Model.Tittle</h1>
                        </div>
                        <div class="article-pages">
                            @Html.Raw(Model.Contents)
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <div class="sidebar-blog">
                    <div class="news-latest  clearfix">
                        <div class="sidebarblog-title title_block">
                            <h2>Bài viết khác</h2>
                        </div>
                        <div class="list-news-latest layered">
                            <div class="item-article clearfix">

                                <div class="post-image">
                                    <a href="balo---su-tu-do-va-tien-loi-trong-cuoc-song-hoc-duong.html"><img src="../../img.mwc.com.vn/mwc.jpg%3b%20filename_%3dUTF-8%27%27mwc7e54.jpg?w=69&amp;h=41&amp;FileInput=/Resources/Post/2023/10/18/z4759234825755_9e68a78180851706f93f3fd37d9d0280.jpg" alt="Balo - S&#x1EF1; t&#x1EF1; do v&#xE0; ti&#x1EC7;n l&#x1EE3;i trong cu&#x1ED9;c s&#x1ED1;ng h&#x1ECD;c &#x111;&#x1B0;&#x1EDD;ng"></a>
                                </div>
                                <div class="post-content">
                                    <h3>
                                        <a href="balo---su-tu-do-va-tien-loi-trong-cuoc-song-hoc-duong.html">Balo - S&#x1EF1; t&#x1EF1; do v&#xE0; ti&#x1EC7;n l&#x1EE3;i trong cu&#x1ED9;c s&#x1ED1;ng h&#x1ECD;c &#x111;&#x1B0;&#x1EDD;ng</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item-article clearfix">

                                <div class="post-image">
                                    <a href="httpsmwccomvncollectionsoxford-boot.html"><img src="../../img.mwc.com.vn/mwc.jpg%3b%20filename_%3dUTF-8%27%27mwc989b.jpg?w=69&amp;h=41&amp;FileInput=/Resources/Post/2023/10/19/mwc%20(2).jpg" alt="Ch&#x1ECD;n M&#x1EAB;u Gi&#xE0;y Oxford &#x110;i&#x1EC3;m Xuy&#x1EBF;t &#x111;&#x1EC3; T&#x1EA1;o S&#x1EF1; Kh&#xE1;c Bi&#x1EC7;t"></a>
                                </div>
                                <div class="post-content">
                                    <h3>
                                        <a href="httpsmwccomvncollectionsoxford-boot.html">Ch&#x1ECD;n M&#x1EAB;u Gi&#xE0;y Oxford &#x110;i&#x1EC3;m Xuy&#x1EBF;t &#x111;&#x1EC3; T&#x1EA1;o S&#x1EF1; Kh&#xE1;c Bi&#x1EC7;t</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item-article clearfix">

                                <div class="post-image">
                                    <a href="goi-y-10-doi-giay-cao-got-thoi-trang-danh-cho-nu-trong-dip-tet.html"><img src="../../img.mwc.com.vn/mwc.jpg%3b%20filename_%3dUTF-8%27%27mwce256.jpg?w=69&amp;h=41&amp;FileInput=/Resources/Post/2022/12/31/mwc_2.png" alt="G&#x1EE3;i &#xFD; 10 &#x111;&#xF4;i gi&#xE0;y cao g&#xF3;t th&#x1EDD;i trang d&#xE0;nh cho n&#x1EEF; &#x111;i ch&#x1A1;i t&#x1EBF;t"></a>
                                </div>
                                <div class="post-content">
                                    <h3>
                                        <a href="goi-y-10-doi-giay-cao-got-thoi-trang-danh-cho-nu-trong-dip-tet.html">G&#x1EE3;i &#xFD; 10 &#x111;&#xF4;i gi&#xE0;y cao g&#xF3;t th&#x1EDD;i trang d&#xE0;nh cho n&#x1EEF; &#x111;i ch&#x1A1;i t&#x1EBF;t</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item-article clearfix">

                                <div class="post-image">
                                    <a href="dip-nghi-cac-le-trong-he-keo-dai-cac-co-gai-dong-loat-goi-ten-xang-dan-bet-cho-chuyen-du-lich-cua-minh.html"><img src="../../img.mwc.com.vn/mwc.jpg%3b%20filename_%3dUTF-8%27%27mwc6131.jpg?w=69&amp;h=41&amp;FileInput=/Resources/Post/2023/06/05/331723675_1434685037067510_8584785013555894699_n.jpg" alt="D&#x1ECB;p ngh&#x1EC9; c&#xE1;c l&#x1EC5; trong h&#xE8; k&#xE9;o d&#xE0;i , c&#xE1;c c&#xF4; g&#xE1;i &#x111;&#x1ED3;ng lo&#x1EA1;t g&#x1ECD;i t&#xEA;n x&#x103;ng &#x111;an b&#x1EC7;t cho chuy&#x1EBF;n du l&#x1ECB;ch c&#x1EE7;a m&#xEC;nh"></a>
                                </div>
                                <div class="post-content">
                                    <h3>
                                        <a href="dip-nghi-cac-le-trong-he-keo-dai-cac-co-gai-dong-loat-goi-ten-xang-dan-bet-cho-chuyen-du-lich-cua-minh.html">D&#x1ECB;p ngh&#x1EC9; c&#xE1;c l&#x1EC5; trong h&#xE8; k&#xE9;o d&#xE0;i , c&#xE1;c c&#xF4; g&#xE1;i &#x111;&#x1ED3;ng lo&#x1EA1;t g&#x1ECD;i t&#xEA;n x&#x103;ng &#x111;an b&#x1EC7;t cho chuy&#x1EBF;n du l&#x1ECB;ch c&#x1EE7;a m&#xEC;nh</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item-article clearfix">

                                <div class="post-image">
                                    <a href="cao-got-de-thap-diu-dang-cho-nang-xuong-pho.html"><img src="../../img.mwc.com.vn/mwc.jpg%3b%20filename_%3dUTF-8%27%27mwc8716.jpg?w=69&amp;h=41&amp;FileInput=/Resources/Post/2023/02/08/mwc_5.png" alt="Cao g&#xF3;t &#x111;&#x1EBF; th&#x1EA5;p d&#x1ECB;u d&#xE0;ng cho n&#xE0;ng xu&#x1ED1;ng ph&#x1ED1;"></a>
                                </div>
                                <div class="post-content">
                                    <h3>
                                        <a href="cao-got-de-thap-diu-dang-cho-nang-xuong-pho.html">Cao g&#xF3;t &#x111;&#x1EBF; th&#x1EA5;p d&#x1ECB;u d&#xE0;ng cho n&#xE0;ng xu&#x1ED1;ng ph&#x1ED1;</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item-article clearfix">

                                <div class="post-image">
                                    <a href="nhung-mau-giay-cao-got-bat-hu-cho-nang.html"><img src="../../img.mwc.com.vn/mwc.jpg%3b%20filename_%3dUTF-8%27%27mwc85fc.jpg?w=69&amp;h=41&amp;FileInput=/Resources/Post/2024/03/12/mwc.jpg" alt="Nh&#x1EEF;ng m&#x1EAB;u gi&#xE0;y cao g&#xF3;t b&#x1EA5;t h&#x1EE7; cho n&#xE0;ng"></a>
                                </div>
                                <div class="post-content">
                                    <h3>
                                        <a href="nhung-mau-giay-cao-got-bat-hu-cho-nang.html">Nh&#x1EEF;ng m&#x1EAB;u gi&#xE0;y cao g&#xF3;t b&#x1EA5;t h&#x1EE7; cho n&#xE0;ng</a>
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>