
<div class="container">
    <div style="display:block; text-align:center; align-content:center; align-items:center; justify-content:center; padding-top:30px">
        <h4 style="font-weight:bold">NGHỀ NGHIỆP</h4>
        <h2 style="font-weight:bold">XÂY DỰNG THỨ GÌ ĐÓ BỀN VỮNG</h2>
        <P>Chúng tôi có một đội ngũ vô cùng tài năng, có động lực cao và đa dạng tại các Cửa hàng bán lẻ, Văn phòng công ty và Trung tâm phân phối của chúng tôi. Hãy thể hiện hết khả năng của bạn – hãy tham gia Mạng lưới tài năng của chúng tôi và nộp đơn ngay hôm nay! Tìm hiểu thêm về sự nghiệp và các cơ hội hiện tại của chúng tôi.</P>
    </div>
    <div class="about-section" style="padding-top:80px">
        <h2>GIỚI THIỆU VỀ CHÚNG TÔI</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>FLCS là một trong những nhà bán lẻ giày dép gia đình lớn nhất quốc gia với thương hiệu riêng về phong cách. Có trụ sở chính tại Evansville, Indiana, các cửa hàng FLCS có mặt tại 35 tiểu bang và Puerto Rico, cũng như trực tuyến tại FLSC.com. Chúng tôi đang tiếp tục phát triển!</p>
        <p>Với khái niệm độc đáo và khác biệt cùng hoạt động tiếp thị khuyến mại, FLCS đã đi trước các đối thủ cạnh tranh bằng cách đem đến những ưu đãi tốt nhất cho các thương hiệu hot nhất dành cho cả gia đình! Chúng tôi có một đội ngũ vô cùng tài năng, có động lực cao và đa dạng tại các Cửa hàng bán lẻ, Văn phòng công ty và Trung tâm phân phối. Chúng tôi đang tìm kiếm những thành viên nhóm hiểu được tầm quan trọng của dịch vụ khách hàng, có đạo đức nghề nghiệp tuyệt vời và đam mê các cơ hội phát triển sự nghiệp. Hãy thể hiện hết khả năng của bạn – hãy tham gia Mạng lưới tài năng của chúng tôi và nộp đơn ngay hôm nay! Tìm hiểu thêm về Sự nghiệp và các cơ hội hiện tại của chúng tôi trên trang Sự nghiệp của chúng tôi.</p>
        <p>Chúng tôi giao dịch trên Sàn giao dịch chứng khoán NASDAQ với mã chứng khoán SCVL. Các nhà đầu tư và bên liên quan có thể truy cập thông cáo báo chí, báo cáo thường niên và các thông tin khác về nhà đầu tư và bên liên quan, bao gồm cả quy tắc đạo đức của chúng tôi, tại trang web Quan hệ nhà đầu tư của chúng tôi.</p>
    </div>
    <hr />
    <div class="about-section">
        <h2>
            VĂN HÓA VÀ TRÁCH NHIỆM CỦA DOANH NGHIỆP
        </h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>FLCS cam kết giúp xây dựng cộng đồng vững mạnh hơn bằng cách đóng góp cho các khu vực chúng tôi kinh doanh. Trong suốt lịch sử của mình, chúng tôi đã chứng minh cam kết đó thông qua các sự kiện được tài trợ, chương trình giáo dục và các khoản quyên góp từ thiện, tất cả đều tập trung vào việc củng cố cộng đồng nơi chúng tôi hoạt động.</p>
        <p>
            Hàng năm, chúng tôi cung cấp hỗ trợ hào phóng cho các tổ chức phi lợi nhuận như:
        </p>
        <div style="padding-left:20px">
            <ul class="ul">
                <li class="li">
                    Quỹ Hai Mười
                </li>
                <li class="li">
                    United Way
                </li>
                <li class="li">
                    CASA - Luật sư đặc biệt do Tòa án chỉ định
                </li>
                <li class="li">
                    Hội Chữ Thập Đỏ Hoa Kỳ
                </li>
                <li class="li">
                    Ngôi nhà Ronald McDonald
                </li>
                <li class="li">
                    Tuổi trẻ trước tiên
                </li>
                <li class="li">
                    Thành tích của thanh thiếu niên
                </li>
            </ul>
        </div>
    </div>
    <hr />

    <div class="about-section">
        <h2>SỰ ĐA DẠNG VÀ HÒA NHẬP</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>FLCS, Inc. là một công ty tuyển dụng bình đẳng và cam kết mạnh mẽ trong việc thu hút và giữ chân lực lượng lao động đa dạng. Chúng tôi tôn trọng và ghi nhận những đóng góp độc đáo của mỗi cá nhân đối với nhóm của chúng tôi. Chúng tôi cam kết hỗ trợ một nền văn hóa đa dạng phong phú như một nền tảng cho thành công trong kinh doanh của chúng tôi, trong đó hiệu suất tuyệt vời là thước đo thành tích của cá nhân và nhóm. FLCS phấn đấu tạo ra một môi trường mà sự hợp tác, làm việc nhóm và tính chuyên nghiệp phát triển mạnh mẽ.</p>
    </div>
    <hr />

    <div class="about-section">
        <h2>QUY TẮC ỨNG XỬ CỦA NHÀ CUNG CẤP</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>FLCS, Inc. sở hữu và điều hành cả FLCS và Shoe Station (“FLCS”).</p>
        <p>Văn hóa của FLCS thúc đẩy và tuân thủ các hoạt động kinh doanh có đạo đức. Trong Bộ quy tắc ứng xử và đạo đức kinh doanh (“Bộ quy tắc”), FLCS có hướng dẫn cụ thể cho nhân viên, thành viên hội đồng quản trị và đại diện về cách tiến hành kinh doanh có đạo đức, bao gồm cách quản lý các mối quan hệ lành mạnh, cùng có lợi với các nhà cung cấp.</p>
        <p>FLCS mong đợi các nhà cung cấp của mình có các hoạt động kinh doanh có đạo đức tương tự như các hoạt động được nêu trong Bộ quy tắc và các chính sách và thủ tục khác của mình và tuân thủ cả về tinh thần và văn bản. FLCS mong đợi các nhà cung cấp của mình thúc đẩy việc giao dịch công bằng và tiết lộ các xung đột. Các nhà cung cấp được mong đợi tuân thủ Bộ quy tắc này:</p>

        <p><strong>KHÔNG CÓ LAO ĐỘNG BUỘC PHẢI:</strong> Nhà cung cấp không được sử dụng lao động cưỡng bức hoặc không tự nguyện dưới bất kỳ hình thức nào, cho dù là lao động tù nhân, lao động theo hợp đồng, lao động ràng buộc, lao động không tự nguyện, lao động trẻ em hay lao động có được thông qua nạn buôn người.</p>
        <p><strong>KHÔNG PHÂN BIỆT ĐỐI XỬ:</strong>   Cấm phân biệt đối xử dựa trên chủng tộc, màu da, tôn giáo, tuổi tác, giới tính, khuynh hướng tình dục hoặc nhận dạng, quốc tịch, tổ tiên, tình trạng hôn nhân, khuyết tật, tình trạng cựu chiến binh hoặc bất kỳ tình trạng được bảo vệ nào khác.</p>
        <p><strong>TIÊU CHUẨN LAO ĐỘNG:</strong>Tuân thủ các yêu cầu về giờ làm việc và mức lương tối thiểu của quốc gia xuất xứ và cam kết trả lương công bằng. </p>
        <p><strong>KHÔNG QUẤY RỐI HOẶC LẠM DỤNG:</strong> Đối xử với nhân viên một cách tôn trọng và đàng hoàng và không được sử dụng hoặc đe dọa sử dụng bất kỳ hình thức lạm dụng hoặc quấy rối nào.</p>
        <p><strong>MÔI TRƯỜNG:</strong> Tuân thủ luật pháp và quy định về môi trường tại quốc gia nơi họ hoạt động.</p>
        <p><strong>SỨC KHỎE & AN TOÀN:</strong>Cung cấp cho nhân viên một môi trường làm việc lành mạnh và sạch sẽ theo đúng luật hiện hành. Các nhà cung cấp được kỳ vọng sẽ cung cấp một môi trường làm việc an toàn hỗ trợ phòng ngừa tai nạn và giảm thiểu rủi ro sức khỏe xảy ra trong hoặc phát sinh trong quá trình làm việc và đáp ứng mọi yêu cầu an toàn hiện hành.</p>
        <p><strong>BẢO MẬT DỮ LIỆU:</strong>Các giao thức bảo mật dữ liệu và quyền riêng tư có trách nhiệm và thông báo kịp thời về vi phạm tới những người bị ảnh hưởng.</p>
        <p><strong>MỐI QUAN HỆ GIÁ TRỊ CÓ THỂ: </strong>Thanh toán cho chi phí hợp lý và nhận lại giá trị hợp lý.</p>
        <p><strong>GIÁM SÁT VÀ TUÂN THỦ: </strong>Cho phép FLCS và các đại lý của công ty được tiếp cận các cơ sở và hồ sơ nhằm mục đích đảm bảo tuân thủ Bộ quy tắc này</p>
        <p><strong>AN NINH CHUỖI CUNG ỨNG:</strong>Cam kết bảo đảm an ninh chuỗi cung ứng, từ đó ngăn ngừa nạn buôn người và vận chuyển vật liệu bất hợp pháp hoặc phi pháp.</p>

    </div>
    <hr />

    <div class="about-section">
        <h2>NHỮNG LỢI ÍCH</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>FLCS tin tưởng chắc chắn vào việc cung cấp cho các cộng sự đủ điều kiện của chúng tôi một loạt các phúc lợi cạnh tranh cao và rộng rãi. Chúng tôi gọi gói bồi thường toàn diện này là "Phần thưởng toàn diện" của FLCS.</p>
        <p>Bạn có thể đủ điều kiện nhận được nhiều quyền lợi bao gồm:</p>
        <div style="padding-left:20px">
            <ul class="ul">
                <li class="li">
                    Lương cạnh tranh
                </li>
                <li class="li">
                    Chương trình thưởng khuyến khích
                </li>
                <li class="li">
                    Quyền lợi tự nguyện (Bảo hiểm bổ sung và Aflac)
                </li>
                <li class="li">
                    Kế hoạch mua cổ phiếu giảm giá cho nhân viên
                </li>
                <li class="li">
                    Kế hoạch nghỉ hưu 401(k)
                </li>
                <li class="li">
                    Lợi ích sức khỏe toàn diện
                </li>
                <li class="li">
                    Bảo hiểm nhân thọ & AD&D cho cộng tác viên toàn thời gian đã đăng ký chương trình y tế
                </li>
                <li class="li">
                    Bảo hiểm tàn tật dài hạn cho nhân viên hưởng lương toàn thời gian
                </li>
                <li class="li">
                    Thời gian nghỉ có lương (nghỉ phép và nghỉ ốm)
                </li>
                <li class="li">
                    Giảm giá hàng hóa cho nhân viên và gia đình
                </li>
                <li class="li">
                    Chương trình di dời
                </li>
            </ul>
        </div>
        <p><strong>Lưu ý:</strong> Không phải tất cả các cộng sự đều đủ điều kiện hưởng mọi quyền lợi. Đây chỉ là bản tóm tắt và FLCS, Inc. sẽ không chịu trách nhiệm về bất kỳ thông tin sai lệch hoặc không chính xác nào. Công ty có quyền thay đổi, sửa đổi hoặc chấm dứt bất kỳ quyền lợi hoặc tính năng quyền lợi nào bất kỳ lúc nào. Bản tóm tắt này không phải là hợp đồng và không nhằm mục đích trao bất kỳ quyền hoặc nghĩa vụ nào cho bất kỳ người nào, bất kể có được FLCS, Inc. tuyển dụng hay không.</p>
 

    </div>
    <hr />
    <div class="about-section">
        <h2>PHÁT TRIỂN NGHỂ NGHIỆP</h2>
        <div class="icon" onclick="toggleContent(this)">
            <span class="toggleIcon">+</span>
        </div>
    </div>
    <div class="content" style="display: none;">
        <p>Mỗi cộng sự của FLCS đều có quyền truy cập vào thư viện chương trình đào tạo rộng lớn. Mục tiêu của chúng tôi là xây dựng “<strong>văn hóa đào tạo</strong>” tập trung vào khái niệm kinh doanh độc đáo của chúng tôi.  </p>
        <p>Khóa đào tạo này bao gồm nhưng không giới hạn ở những nội dung sau:</p>
        <div style="padding-left:20px">
            <ul class="ul">
                <li class="li">
                    Các chương trình đào tạo trên máy tính bao gồm mọi khía cạnh của hoạt động kinh doanh
                </li>
                <li class="li">
                    Nhiều chứng chỉ xác nhận kiến ​​thức và khả năng của cộng sự để thực hiện các chức năng cơ bản liên quan đến công việc
                </li>
                <li class="li">
                    Các mô-đun đào tạo khu vực dành cho mọi cấp quản lý cửa hàng
                </li>
                <li class="li">
                    Các buổi đào tạo liên tục được thiết kế để thúc đẩy sự phát triển và tăng trưởng chuyên môn - Đào tạo tại cửa hàng để đảm bảo cam kết của chúng tôi về Dịch vụ khách hàng toàn diện
                </li>

            </ul>
        </div>
    </div>
    <hr />

    <div style="display:block; text-align:center; align-content:center; align-items:center; justify-content:center; padding-top:80px">
        <h2 style="font-weight:bold">QUYỀN LỢI CỦA GIẦY - MUA SẮM. KIẾM TIỀN. ĐỔI QUÀ. LẬP LẠI</h2>
        <a style="color:black" asp-area="Identity" asp-page="/Account/Manage/Index">Đăng nhập hoặc tạo tài khoản</a>
        <div class="row" style="padding-top:30px">
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/in-store-pick-up?fmt=auto" style="width:50px; height:50px"/>
                <h5>MIỄN PHÍ TRONG CỬA HÀNG NHẶT LÊN</h5>
                <p>Chọn tùy chọn nhận hàng và chuẩn bị các đơn hàng đủ điều kiện trong vòng chưa đầy 4 giờ.</p>
            </div>
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/free-shipping?fmt=auto" style="width:50px; height:50px" />
                <h5>
                    MIỄN PHÍ VẬN CHUYỂN
                </h5>
                <p>Thành viên Shoe Perks được MIỄN PHÍ vận chuyển tiêu chuẩn cho mọi đơn hàng.</p>
            </div>
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/same-day-delivery?fmt=auto" style="width:50px; height:50px" />
                <h5>CÙNG NGÀY VẬN CHUYỂN</h5>
                <p>Các mặt hàng đủ điều kiện được đặt hàng trước 1 giờ chiều theo giờ CST sẽ được giao trong ngày.</p>
            </div>
            <div class="col-md-3" style="font-weight:bold">
                <img src="https://cdn.media.amplience.net/i/scvl/points-with-every-purchase?fmt=auto" style="width:50px; height:50px" />
                <h5>THANH TOÁN LINH HOẠT</h5>
                <p>Chọn từ Klarna, ApplePay, PayPal và tất cả các loại thẻ tín dụng lớn.</p>
            </div>
        </div>
    </div>
</div>
<style>
    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        cursor: pointer;
    }

        .about-section h2 {
            margin: 0;
            font-weight: bold;
            font-size: 24px;
        }

    .container {
        padding-left: 40px; /* Cách lề trái */
        padding-right: 40px; /* Cách lề phải */
    }

    .ul .li {
        margin-bottom: 10px; /* Khoảng cách giữa các dòng */
        list-style-type: disc; /* Kiểu dấu chấm */
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #000;
        border-radius: 50%;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .content {
        max-height: 200;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1.5;
        display: none;
    }

        .content.show {
            display: block;
            max-height: 1000px; /* Đặt giá trị đủ lớn để chứa nội dung */
            padding: 20px;
            border-color: #ddd;
        }
</style>


<script>
    function toggleContent(element) {
        var content = element.closest('.about-section').nextElementSibling;
        var toggleIcon = element.querySelector('.toggleIcon');
        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            toggleIcon.textContent = "×";
        } else {
            content.style.display = "none";
            toggleIcon.textContent = "+";
        }
    }
</script>